@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #3a6cf4;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;              
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 1);
}

.logo {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}


.navigation a {
    color: #fefefe;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #601cfc;
}

section {
    padding: 100px 200px;
}

.main {
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/hacker-g883584509_1280.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.main h2 {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1)
}

.social-icons {
    color: #fff;
    font-size:1.7em;
    padding-right: 30px;
    margin: 15px;
    transition: 0.7s ease;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.9em;
    font-weight: 800;
    margin-bottom: 30px;
    transition: 0.7s ease;

}
.title:hover {
    transform: scale(1.1)
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards{
    background: url(images/ai-generated-g6cdbda8e6_1280.jpg) no-repeat;
    width:100%;
    min-height: 100vh;
    
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1)
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}
.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000000;
    background: url(images/programming-g4514d1f27_1280.png) no-repeat;
    width:100%;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.projects.content {
    margin-top: 30px;
    color: #000;
}

.project-card {
    background-color: #fff;
    border: 2px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .projects-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 1.1em;
    color: #000000;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
}

.projects-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    color: #e50000;
    font-size: 1.1em;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);

}

.available {
    color: #601cfc;
}

.available0 {
    color: #601cfc;
    font-size:16px ;
}

.more-details {
    text-decoration: none;
    color: #601cfc;
}

._cards{
    background: url(images/binary-g9b57e1552_1280.jpg) no-repeat;
    width:100%;
    min-height: 100vh;        
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.content .icon{
    font-size: 4.5em;
}

.content .info h3 {
    color: #000000;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    font-size: 1.4em;
}

.content .info p {
    font-size: 1.1em;
    color: #000000;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);

}
.content .Minfo p {      /*More Setting*/
    font-size: 1.1em;
    color: #b80606;
    text-align: center;
}
.content .Minfo h3 {
    color: #000000;
    text-align: center;
    min-height: 6vh;
}
.content .title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    transition: 0.7s ease;

}
.footer {
    background-color: #000000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons-f a{
    font-size: 1.6em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px) {
    header{
        padding: 12px 20px;
        width: 95%;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 2em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 648px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }

    header {
        width:393px;
        padding: 13px 20px;
    }

    .available0 {
    color: #601cfc;
    font-size: 11px;
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
    display: flex;
}

.social-icons-f {
    font-size: 2.5em;    
}

}

@media (max-width: 360px){
    body{
        font-size: 13px;
    }
    header {
        width: 320px;
        padding: 11px 12px;
        
    }

    .social-icons {
        color: #fff;
        font-size:2.3em;
        padding-right: 45px;
        margin: 2px;
        transition: 0.7s ease;
    }
}

@media (max-width:428px){
    body{
        font-size: 11px;
    }
    
    header{
    width: 100%;
    height: 15px 19px;
    
    }

    .social-icons {
        color: #fff;
        font-size:2.4em;
        padding-right: 45px;
        margin: 2px;
        transition: 0.7s ease;
    }
} 